@media (max-width:768px){
.login-page {
    margin: 0px;
    width: 100%;
	height:450px;
}
.form-group{
    margin-left:0px;
}
.form-group input{
    margin-left:25px;
}
.login-page .home{
	padding-right:10px;
}
.login-page .registeer{
	margin-left:15px;
}
}
@media (max-width:450px){
.register-cont {
    width:100%;
}
.register-cont .register{
	margin-left:10%;
}
.register-cont .register p{
	margin-left:-20%;
}
}
@media (max-width:770px){

.register-cont .register p{
	margin-left:-20%;
}

}